html, body {
  background-color: blueviolet;
  color: white;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-content {
  align-content: center;
  text-align: center;
  grid-column: 1 /  2;
}

.thermo_button {
  padding: 15px;
}

.section-2 {
  grid-column: 2 / 3;
  height:100%;
  width:100%;
}

.section-2 img{
  height:100%;
  width:100%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
} 